/* ANIMATIONS for pages (as seen at http://scotch.io/tutorials/javascript/animating-angularjs-apps-ngview) */


/* --------------------------------------------------- PAGES ANIMATIONS ----------- */
/* -------------------------------------------------------------- */
.page.ng-leave  { z-index:99999999; }
.page.ng-enter  { z-index:88888888; }

/* home -------------------------  */
.page-main.ng-leave         {
  -webkit-animation: slideOutLeft 0.5s both ease-in;
  -moz-animation: slideOutLeft 0.5s both ease-in;
  animation: slideOutLeft 0.5s both ease-in;

}
.page-main.ng-enter     {  
    -webkit-animation:bounceInLeft 0.5s both ease-in;
    -moz-animation:bounceInLeft 0.5s both ease-in;
    animation:bounceInLeft 0.5s both ease-in;
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s; /* Safari and Chrome */
}

/* about ------------------------ */
.page-editor.ng-leave        {
    -webkit-animation:slideOutRight 0.5s both ease-in;
    -moz-animation:slideOutRight 0.5s both ease-in;
    animation:slideOutRight 0.5s both ease-in;   
}
.page-editor.ng-enter    {  
    -webkit-animation:bounceInRight 0.5s both ease-in;
    -moz-animation:bounceInRight 0.5s both ease-in;
    animation:bounceInRight 0.5s both ease-in;    
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s; /* Safari and Chrome */
}

/* -------------------------------------------------------------- */
/* --------------------------------------------------- end PAGES ANIMATIONS ----------- */


/* --------------------------------------------------- fade to 0.6 */
@-webkit-keyframes fadeInHalf {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .8;
  }
}

@keyframes fadeInHalf {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .8;
  }
}
.fadeInHalf {
  -webkit-animation-name: fadeInHalf;
  animation-name: fadeInHalf;
}

/* --------------------------------------------------- fade from 0.6 */
@-webkit-keyframes fadeOutHalf {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOutHalf {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
  }
}
.fadeInHalf {
  -webkit-animation-name: fadeOutHalf;
  animation-name: fadeOutHalf;
}


/* --------------------------------------------------- infinite spin */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}





/* --------------------------------------------------- ANIMATION FOR BAR for NO WebCam ----------- */

@-webkit-keyframes progressNoCam {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-moz-keyframes progressNoCam {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-ms-keyframes progressNoCam {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-o-keyframes progressNoCam {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@keyframes progressNoCam {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
/* --------------------------------------------------- end ANIMATION FOR BAR for NO WebCam ----------- */