// Entypo Fonts
@font-face {
    font-family: 'entypo';
    src: url('/webfonts/entypo.eot');
    src: url('/webfonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('/webfonts/entypo.woff') format('woff'),
         url('/webfonts/entypo.ttf') format('truetype');
         //url('webfonts/entypo/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}
// Entypo Fonts
@font-face {
    font-family: 'entypo-social';
    src: url('/webfonts/entypo-social.eot');
    src: url('/webfonts/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('/webfonts/entypo-social.woff') format('woff'),
         url('/webfonts/entypo-social.ttf') format('truetype');
         //url('webfonts/entypo-social.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}