// COLORS

//Grays
$green-editor: #26ca28;
$pink-mask:#ff00cc;
$blue:#33ccff;
$pink:#ff00cc;
$light-gray:#999999;
$dark-gray:#666666;
$darker-gray:#111;

$pink-mask-rgba: "255,0,230";
$header-height: 15px;
$footer-height: 100px;

$entypo: "entypo";
$entypo-social: "entypo-social";