<div>
    <div class="aligner">
        <div class="textBlock">
            <h1>About carnivalize.me</h1>

            <p translate="ABOUT_01"></p>

            <p translate="ABOUT_02"></p>

            <p> 
                {{'ABOUT_CNT' | translate}} <strong>21425 tags</strong>, <strong>532 masks</strong> and <strong>54322 pictures</strong> in <strong>13 languages</strong> ({{ADD_LANGUAGE | translate}}).
            </p>

            <h4>{{'TECHNOLOGIES' | translate}}</h4>

            <p translate="ABOUT_03">></p>
        </div>
    </div>
</div>