<div>
    <div class="aligner">

        <div class="textBlock">
            <h1>{{'YOUR_AGE' | translate}}</h1>

             <div class="formMask ageForm">
                <div class="el center">
                    <div class="radio">
                        <input id="safeAge" type="radio" name="gender" value="13">
                        <label class="xxxA" for="safe" ng-click="setAge(13);">13+</label>
                        <input id="rudeAge" type="radio" name="gender" value="16">
                        <label class="xxxB" for="rude" ng-click="setAge(16);">16+</label>
                        <input id="nokidsAge" type="radio" name="gender" value="18">
                        <label class="xxxC" for="nokids" ng-click="setAge(18);">18+</label>
                        <input id="hardcoreAge" type="radio" name="gender" value="21">
                        <label class="xxxD" for="hardcore" ng-click="setAge(21);">21+</label>     
                    </div>
                </div>
            </div>

            <p class="center">
                <br/><br/><br/>

                <div google-adsense-block></div>
            </p>
        </div>
    </div>
</div>