<div>
    <div class="aligner">

        <div class="textBlock">
            <h1>What just happened?</h1>
            <h3 class="center">Carnivalize.me currently works on Google Chrome only</h3>
            <br/><br/>
            <h3>Why?</h3>
            <p>
                The project is still in his alpha version<br/>
                and it's been easier for us to start focusing on only one browser.<br/>
                If you think you're not supposed to see this, please contact us.
                <br/><br/>
                Thank you.
            </p>
            <br/>
            <h3>How can i see the full app?</h3>
            <p>
                You can see the full app using <a analytics-on="click" analytics-event="Downloading Chrome" analytics-category="browser issues" href="https://www.google.com/chrome/browser/" target="_blank">Google Chrome</a> or waiting for a new release (consider that this is an experiment, so new releases are out only once every few months).<br/>
                Meanwhile simply take a <a  analytics-on="click" analytics-event="Checking Carnival without browser" analytics-category="browser issues" href="/carnival">look at what past users have been creating so far.</a><br/><br/>
                Sorry about that.
            </p>
            <p>
                <div google-adsense-block></div>
                <div google-adsense-block></div>
            </p>
        </div>
    </div>
</div>