<div>
    <div class="aligner">
        <drawing-board></drawing-board>
    </div>

    <!-- help modal -->
    <div class="modalWrapper" ng-show='modal_wrapper_show'>
        <div class="modalCover" ng-show="modal_show" ng-click="hideModal();" ></div>
        <div class="modalContent" ng-show="modal_show">

            <table>
                <tr>
                    <td>
                        <span>CTRL</span> + <span>1</span> <span>...</span> <span>9</span>
                    </td>
                    <td translate="{{'HELP_BRUSH_SIZE'}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>CTRL</span> + <span>&larr;</span> <span>&rarr;</span>
                    </td>
                    <td translate="{{'HELP_BRUSH_BLUR'}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>CTRL</span> + <span>E</span>
                    </td>
                    <td translate="{{'HELP_BRUSH_ERASER'}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>mouse</span>
                    </td>
                    <td translate="{{'HELP_IMAGE_DRAG'}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>mouse</span> + <span>R</span>
                    </td>
                    <td translate="{{'HELP_IMAGE_ROTATE'}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>mouse</span> + <span>S</span>
                    </td>
                    <td translate="{{'HELP_IMAGE_RESIZE'}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>CTRL</span> + <span>C</span>
                    </td>
                    <td translate="{{'HELP_CANVAS_CLEAR'}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>CTRL</span> + <span>T</span>
                    </td>
                    <td translate="{{'HELP_TRY_MASK'}}">
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>