<div>
    <div class="aligner">

        <div class="textBlock">
            <h1>What just happened?</h1>
            <h4>We detected an anti-advertisement software/extension.</h4>
            <br/><br/>
            <h4>Ok, so what?</h4>
            <p>
                Well...carnivalize.me tries to pay it's maintenance costs with ADS.<br/>
                We personally use and sometimes recommend AdBlock or other software/extensions to block advertisement, but since this project is not funded and does have any business model (other than ads) <strong>we'd like to kindly ask you to pause the anti-advertisment extension</strong> that you might have installed (<strong>and refresh the page</strong>) so that we can continue to pay our bills.<br/><br/>
                If you think you're not supposed to see this, please contact us.
                <br/><br/>
                Thank you.
            </p>
        </div>
    </div>

    <div class="aligner">
    
        <div class="bigPlay">
            <div>
                <a class="playButton" href="/carnival">{{'GOTO_CARNIVAL' | translate}}</a>
                <br/>
                <a class="playButton" ng-click="startFun();">{{'CARNIVALIZE_YOURSELF' | translate}}</a>
                <br/>
                <a class="playButton" href="/editor">{{'CREATE_MASK' | translate}}</a>
            </div>
        </div>

    </div>

</div>