<div>
    <div class="aligner">
        <div class="textBlock">
            <h1 class="center">About carnivalize.me</h1>
            <p>
                Carnivalize.me started as (and currently is) an avatar/selfie-masked-GIF generator.<br/>
                It's an side-project/experiment handcrafted by <a href="https://twitter.com/ricricucit" target="_blank">Enrico</a> (<em>UI + UX + Front-End Code</em>) and <a href="https://twitter.com/noandrea" target="_blank">Andrea</a> (<em>DB + Back-End Code</em>) and <a href="http://cargocollective.com/lihiejacob" target="blank">another</a> <a href="#" target="blank">bunch</a> <a href="#" target="blank">of</a> <a href="#" target="blank">people</a> (<em>Testing + Masks Illustrations</em>) during March/April 2014. It's online &mdash;as a permanent work-in-progress&mdash; since May 2014.<br/>
                It currently contains <strong>21425 tags</strong>, <strong>532 masks</strong> and <strong>54322 pictures</strong>  in <strong>21 languages</strong>.
            </p>
            <p>
                The project is inspired by Google Hangouts "Effects App", but differently from any Google product, carnivalize.me contains mostly anonimous <strong>uncensored user generated content</strong>. Masks are created using the simple <a href="/editor">mask editor</a> and photos are taken with the <a href="/now">in-app camera</a>, and they are NOT affected by any kind of censorship. All of carnivalize.me content is rated using an age recommendation system "<a href="http://en.wikipedia.org/wiki/Motion_Picture_Association_of_America_film_rating_system" target="_blank">MPAA</a> style" (like Gravatar) and age restricted content is shown depending on the age of the user (collected with a self certification form).
            </p>
            <h4>Technologies</h4>
            <p>
                A mashup of custom and OpenSource Scripts from various programmers around the world.<br/>
                It's mainly based on HTML5 stuff, it heavily relies on <a href="https://github.com/auduno/headtrackr" target="_blank">auduno's headtrackr</a> (for <em>Face Tracking</em>) and it's written in AngularJS (using <a href="https://github.com/linemanjs/lineman-angular-template" target="_blank">linemnanjs</a>) and Python (on GAE).
            </p>
        </div>
    </div>
</div>