<div>
    <div image-preview image="lastWatchedImage"></div>
    <div class="aligner">

        <ul class="carnivalList">
            <li class="carnivalimage {{photo.type}}" ng-repeat="photo in photos"> <!-- | orderBy:'ts':true -->
                
                <gifff ng-if="!photo.ad" photo="photo"></gifff>
                
                <div google-adsense class="squaredAds" ng-if="photo.ad"></div>
            </li>
        <ul>
    </div>

    <div class="pager aligner">
        <ul>
            <li class="textonly">
                <a ng-click="goTo('/terms');">Last</a>
            </li>
            <li class="textonly">
                <a ng-click="goTo('/terms');">Next</a>
            </li>
            <li class="textonly">
                <strong>PAGE 55</strong>
            </li>
            <li class="textonly">
                <a ng-click="goTo('/terms');">Previous</a>
            </li>
            <li class="textonly">
                <a ng-click="goTo('/terms');">First</a>
            </li>
        </ul>
    </div>
</div>