<div>
    <div image-preview image="lastWatchedImage"></div>
    <div class="aligner">

        <ul class="carnivalList">
             <li class="carnivalimage png {{!photo.seen ? '' : 'seen'}}" ng-repeat="photo in photos"> <!-- | orderBy:'ts':true --> <!-- class="carnivalimage {{photo.type}}" -->
                
                <gifff ng-if="!photo.ad" photo="photo"></gifff>
                
                <div google-adsense class="squaredAds" ng-if="photo.ad"></div>
            </li>
        <ul>
    </div>

    <div class="pager aligner">
        <ul>
            <li class="textonly">
                <a ng-click="changePage(lc);">Last</a>
            </li>
            <li class="textonly">
                <a ng-click="changePage(nc);">Next</a>
            </li>
            <li class="textonly">
                <strong>PAGE 55</strong>
            </li>
            <li class="textonly">
                <a ng-click="changePage(pc);">Previous</a>
            </li>
            <li class="textonly">
                <a ng-click="changePage(fc);">First</a>
            </li>
        </ul>
    </div>
</div>