<div>
    <div image-preview image="lastWatchedImage"></div>
    <div class="aligner">

        <ul class="carnivalList">
             <li class="carnivalimage png {{!photo.seen ? '' : 'seen'}} {{photo.loading ? 'loading' : ''}}" ng-repeat="photo in photos"> <!-- | orderBy:'ts':true --> <!-- class="carnivalimage {{photo.type}}" -->
                <div width="50" ng-show="photo.loading" class="loading"><img src="img/loading_carnival_image.gif"/></div>
                <gifff ng-if="!photo.ad" photo="photo"></gifff>
                
                <div google-adsense class="squaredAds" ng-if="photo.ad"></div>
            </li>
        <ul>
    </div>

    <div class="pager aligner">
        <ul>
            <li class="textonly">
                <a ng-click="changePage(nc,'f');">Last</a>
            </li>
            <li class="textonly" ng-show="nc">
                <a ng-click="changePage(nc,'f');">Next</a>
            </li>
            <li class="textonly">
                <strong>PAGE 55</strong>
            </li>
            <li class="textonly" ng-show="pc">
                <a ng-click="changePage(pc,'b');">Previous</a>
            </li>
            <li class="textonly">
                <a ng-click="changePage(pc,'b');">First</a>
            </li>
        </ul>
    </div>
</div>