<div ng-controller="drawingBoardCtrl" class="drawingBoard">
    <div class="canvasContainer">
        <div class="maskWrap">
            <div id="customMask">
                <img ng-if="controls.image.info.fileBase64" id="upped-image" drag-rotate-resize class="img-uploaded" ng-show="controls.image.info.fileBase64" src="{{controls.image.info.fileBase64}}" alt="image"/>
                <div drag-rotate-resize style="position:absolute;font-size:40px;" ng-bind-html="controls.text.content | nl2br"></div>
                <drawing-canvas></drawing-canvas>
            </div>
            <div class="canvasBg" ng-show="controls.showGrid"></div>
        </div>

        <img ng-if="customMask.image" src="{{customMask.image}}" alt="image" width="720" height="960" />

    </div>
    
    <drawing-controls></drawing-controls>
</div>