<div class="toolbox">
   
    <fieldset class="tool">
        <legend>{{'GUIDES' | translate}}</legend>
        <div class="inner">
            <div class="el">
                <div class="checkbox switch">
                    <input id="grid" type="checkbox" ng-model="showGrid" ng-checked="1" ng-false-value="false" ng-true-value="true">
                    <label for="grid"></label>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="tool">
        <legend>{{'BRUSH' | translate}}</legend>
        <div class="inner">
            <div class="el">
                <div class="checkbox regular">
                    <input id="eraser" type="checkbox" ng-model="ctx.globalCompositeOperation" ng-false-value="source-over" ng-true-value="destination-out">
                    <label for="eraser"></label>
                    {{'ERASER_BRUSH_MASK' | translate}}
                </div>
            </div>


            <div class="el">
                <div class="label">{{'SIZE_BRUSH_MASK' | translate}}</div>
                <input type="range" ng-model="brushSize" name="points" min="2" step="2" max="20">
            </div>

            <div class="el">
                <div class="label">{{'BLUR_BRUSH_MASK' | translate}}</div>
                <input class="range-blur" type="range" ng-model="blur" name="points" min="0.1" step="0.1" max="1">
            </div>

            <div class="el">
                <div class="label">{{'COLOR_BRUSH_MASK' | translate}}</div>
                <div ng-show="ctx.globalCompositeOperation !== 'destination-out'" colorpicker="hex" ng-model="fillStyle" ng-click="setBrush();" class="cpicker" style="background-color:{{fillStyle}}"></div>
                <div ng-show="ctx.globalCompositeOperation === 'destination-out'" class="cpicker transparent"></div>
            </div>
        </div>

    </fieldset>

    <fieldset class="tool upload-area">
        <legend>
            <span ng-show="!uploadedImage">{{'ADD_IMAGE_MASK' | translate}}</span>
            <span ng-show="uploadedImage">{{'UPLOADED_IMAGE_MASK' | translate}}</span>
        </legend>

        <div class="inner">
            <div ng-if="!uploadedImage">
                <div class="file-container">
                    <label for="uploaded_image">
                        {{'FROM_PC_MASK' | translate}}
                    </label>
                    <input type="file" file-upload name="uploaded_image" />
                </div>

                <div class="suggestion">SVG or PNG</div>
            </div>

            <div ng-if="uploadedImage">
                <div class="file-container delete" ng-click="eraseImage();">
                    <label>
                        Remove Image
                    </label>
                </div>
                <div class="suggestion" ng-if="uploadedImage">PNG - {{uploadedImage.size | bytes}}</div>
            </div>
        </div>

    </fieldset>

    <fieldset class="tool upload-area">
        <div class="inner">
            <a class="btn" ng-click="save();">{{'TRY_MASK' | translate}}</a>
            <div class="help">
                <br/><br/>
                <a href="#" ng-click="erase();">{{'RESTART_MASK' | translate}}</a>
                <br/><br/><br/>
                <a href="#" ng-click="showModal();">{{'HELP_MASK' | translate}}</a>
            </div>
        </div>
    </fieldset>
</div>