<div ng-controller="drawingBoardCtrl" class="drawingBoard">
    <div class="canvasContainer">
        <div class="maskWrap">
            <div id="customMask">
                <img id="upped-image" drag-rotate-resize class="img-uploaded" ng-show="uploadedImage.fileBase64" src="{{uploadedImage.fileBase64}}" alt="image"/>
                <drawing-canvas></drawing-canvas>
            </div>
            <div class="canvasBg" ng-show="showGrid"></div>
        </div>

        <img ng-if="customMask.image" src="{{customMask.image}}" alt="image" width="720" height="960" />

    </div>
    
    <drawing-controls></drawing-controls>
</div>