<div>
    <div class="aligner">

        <div class="bigPlay" ng-show="showStart" ng-if="mode !== 'save'">
            <div>
                <a class="playButton" ng-click="startFun();">{{'CARNIVALIZE_YOURSELF' | translate}}</a>
                <br/>
                <a class="playButton" ng-click="startFun();">{{'GOTO_CARNIVAL' | translate}}</a>
                <br/>
                <a class="playButton" href="/editor">{{'CREATE_MASK' | translate}}</a>
            </div>
        </div>

        <div class="messages" ng-show="cameraMsg.msg">
            <i class="icon {{cameraMsg.icon}}"></i>
            <p ng-bind-html="cameraMsg.msg"></p>
        </div>

        <div class="videoBlock" ng-show="showVideo">

            <div class="cover" ng-show="searchMask"></div>

            <div class="changeMask" ng-show="isRunning && mode !== 'save'">
                <div class="roundBtn left" ng-click="changeMask(1);"></div>
                <div class="roundBtn right" ng-click="changeMask(-1);"></div>
            </div>

            <div class="controls" ng-show="showControls">
                <div class="control calibrate" ng-click="refreshTracking();" ng-show="isRunning"></div>
                <div class="control image" ng-click="canvasToImage();" ng-show="isRunning && showImage"></div>
                <div class="control mask" ng-show="isRunning"></div>
                <div class="control video" ng-click="canvasToGif();" ng-show="isRunning"></div>
                <div class="videoProgress">
                    <div class="progress" style="width: {{GIFprogress}}">
                        <div class="framesCounter" ng-show="GIFprogress">{{pics}}/10</div>
                    </div>
                </div>
                <div class="control pause" ng-click="stopTracking();"   ng-show="isRunning"></div>
                <div class="control play" ng-click="restartTracking();" ng-hide="isRunning"></div>
                <!-- <div class="control loading"><span class="spinning"></span></div> -->
            </div>
              
            <div id="fullPic" width="640" height="460">
                <video-canvas></video-canvas>
                <overlay-face ng-if="showMask"></overlay-face>
                <video-html5></video-html5>
            </div>
              
            <!-- take the following code off when possible -->
            <canvas id="debug" style="position:absolute; top:0; z-index: 100002; display: none;"></canvas>

        </div>

    </div>

    <div class="aligner" ng-if="mode === 'save'">
        <div>
            <a ng-click="saveMask();">SAVE MASK</a>
            <a href="/editor">GO TO EDITOR</a> 
        </div>
    </div>

    <div class="aligner" ng-if="mode !== 'save'">
        <div class="credits"> 
            CREDITS <span ng-bind-html="credits | linky"></span>
        </div>
    </div>
    
    <div class="aligner" ng-if="mode !== 'save'">
            <br/>
        <div>
            <br/>
            <a ng-click="clearStorage();">clearStorage</a>  | <br/> | <a class="playButton" href="/editor">create masks</a>
        </div>
    </div>

    <div class="aligner">
        <ul class="userImages" ng-if="images">
            <li ng-repeat="img in images | orderBy:'ts':true"> <!-- | orderBy:'ts':true -->
                <personal-image source="img"></personal-image>
            </li>
        <ul>
    </div>

</div>