<div class="imgContainer">


    <div class="imgWrap" ng-show="showMenu">
        <div class="imgCover" ></div>
        <div class="imgMenu" >
            <div class="formMask">
                <div class="el">
                    <label>Content</label>
                    <div class="radio">
                        <input id="safe" type="radio" ng-model="selectedMask.audience" name="gender" value="1">
                        <label for="safe">{{'SAFE' | translate}}</label>
                        <input id="rude" type="radio"  ng-model="selectedMask.audience" name="gender" value="2">
                        <label for="rude">{{'RUDE' | translate}}</label>
                        <input id="nokids" type="radio"  ng-model="selectedMask.audience" name="gender" value="3">
                        <label class="xxx" for="nokids">{{'ADULT' | translate}}</label>
                        <input id="hardcore" type="radio" ng-model="selectedMask.audience" name="gender" value="4">
                        <label class="xxx" for="hardcore">{{'XXX' | translate}}</label>                
                    </div>
                </div>

                <div class="el">
                    <label>Email (NEVER public)</label>
                    <input maxlength="80" type="text" ng-model="selectedMask.email" placeholder="e-mail">
                </div>
                <div class="el">
                    <label>Tags</label>
                    <input maxlength="100"  type="text" ng-model="selectedMask.tags" ng-list placeholder="tags, comma, separated">
                </div>
                <div class="el">
                    <label>Credits</label>
                    <input maxlength="100"  type="text" ng-model="selectedMask.credits" placeholder="credits">
                </div>

                <div class="el">
                    <a class="btn" ng-click="saveMaskOnDB(selectedMask);">{{'SAVE_MASK' | translate}}</a>
                    <a class="btn" ng-click="goTo('/editor');">{{'MODIFY_MASK' | translate}}</a> 
                </div>
            </div>
        </div>
    </div>

    <img ng-if="img" src="{{img.image}}"></img>
    
    <div ng-if="img" class="credits"> 
        {{img.ext}} | <span>{{img.ts | timeago}} </span>
    </div>

</div>